body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  margin-top: 3rem;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 0 7rem;
}

.all-beers{
  color: black;
}

.home img {
  border-radius:30px;
  max-width: 600px;
  margin-bottom: 2rem;
}

.home p {
  margin: 2rem;
}

.nav-container {
  background-color: rgb(27, 107, 212);
  height: 100px;
  width: 100%;


}
.nav-text-container {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 3rem;
}

.card {
  padding: 2rem;
  border: 1px solid black;
}

.card p h1{
  color: black;
}

.card img {
  max-height: 100px;
}